.user-data-form {
  width: 50%;
  height: 100vh;
  position: relative;
  background-color: rgb(245 125 52);
  box-sizing: border-box;
  padding: 85px 50px 50px;
  top: 0px;
  z-index: 10;
  margin-left: 50%;
}

.right-win {
  animation: rightWin 2s forwards ease;
}
@keyframes rightWin {
  0% {
    /* left: 0; */
    margin-left: 0;
  }
  100% {
    /* right: 0; */
    margin-left: 50%;
  }
}

.left-win {
  animation: leftWin 2s forwards ease;
}

@keyframes leftWin {
  0% {
    /* left: 0; */
    margin-left: 50%;
  }
  100% {
    /* right: 0; */
    margin-left: 0%;
  }
}
