.user-data-form {
  width: 50%;
  height: 100vh;
  position: relative;
  background-color: rgb(245 125 52);
  box-sizing: border-box;
  padding: 85px 50px 50px;
  top: 0px;
  z-index: 10;
  margin-left: 50%;
}

.male-female span {
  font-size: 25px;
  margin: 5px 0;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.male-female__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.male-female__btns .btn-form {
  width: 49%;
  color: white;
  padding: 12px 10px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  border: 0.5px solid black;
}
.not-active {
  background-color: #ea6f27;
}
.active {
  background-color: black;
}
.age-weight-height {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.age-weight-height input {
  width: 32%;
  outline: none;
  border: 1.6px solid black;
  padding: 10px;
  padding-left: 15px;
  border-radius: 20px;
  background-color: transparent;
}
.age-weight-height input::placeholder {
  color: black;
  font-weight: 600;
}

.goals {
  margin-top: 90px;
}
.goals span {
  font-size: 21px;
  margin: 5px 0;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.goals__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.goals__btns button {
  width: 32%;
  color: white;
  padding: 12px 10px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  cursor: pointer;
}
.calc-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.calc-btns button:nth-child(1) {
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  text-transform: uppercase;
  color: #1a1a1a;
  cursor: pointer;
}
.calc-btns button:nth-child(2) {
  font-weight: 700;
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 0 5px;
  cursor: pointer;
}

.active-circle,
.circle {
  background-color: #ea6f27;
  border: 1px solid black;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  position: relative;
}
.active-circle span,
.circle span {
  position: relative;
  top: 40px;
  font-size: 14px;
  margin-left: 3px;
}
.active-circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 37px;
  width: 37px;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 50%;
}
.activity {
  position: relative;
  top: 40px;
}
.line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  top: 85%;
}
.lvl {
  display: flex;
  justify-content: space-between;
}
.activity .activity-span {
  font-size: 21px;
  margin: 15px 0 -5px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.activity p {
  font-size: 15px;
  color: rgb(255, 250, 250);
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 300;
}
.calc-btns {
  position: relative;
  top: 15px;
}
.right-win {
  animation: rightWin 2s forwards ease;
}
@keyframes rightWin {
  0% {
    /* left: 0; */
    margin-left: 0;
  }
  100% {
    /* right: 0; */
    margin-left: 50%;
  }
}

.left-win {
  animation: leftWin 2s forwards ease;
}

@keyframes leftWin {
  0% {
    /* left: 0; */
    margin-left: 50%;
  }
  100% {
    /* right: 0; */
    margin-left: 0%;
  }
}
